/* global code for this web template start  */

body{
    overflow-x:hidden;
    background:#f8f8f8 !important;
    /* font-size:13px; */
    /* font-family: "Open Sans"; */
}
/* global code for this web template end  */


/* top header navigation start  */
header{
    background:#76c7c0;
    margin:5px 0px;
    padding:15px 0px 0px 0px;
}

.top-header .logo{
    padding :3px 0px 3px 30px;
   
}

.top-header .logo a:focus{
    outline : none;
}

nav ul{
    text-align: center;
}

nav ul li{
    list-style:none;
    display:inline;
}

nav ul li a{
    text-decoration:none !important;
    display:inline-block;
    color: #fff;
    padding : 5px 10px;
    text-align: center;
    letter-spacing: 1;
    border-radius: 5px;
    text-transform: uppercase;
    
}

nav ul li a:focus{
    outline : none;
}

nav ul li a:hover{
    background:#498883;
    color: #fff;  
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.8);

}

nav ul li:nth-child(8)>a:hover{
    
    background:transparent;
    border:transparent;
    box-shadow: none;
    
}

.search-field{
    display:none;
}
.slick-prev:before, .slick-next:before { 
    color:#fff !important;
}


/* top header navigation end  */



/* slider design start  */
.slider{
    margin-top:-5px;
}
.slider div{
    height: 400px;
}
.slick-prev.slick-arrow {
    z-index: 1;
  }
  .slick-prev {
    margin-left: 20px;
  }

  .slick-next {
    margin-right: 20px;
    border-radius:10px 0px 0px 10px;
  }

  .slick-prev.slick-arrow {
    background: #e2534b;
    padding : 30px;
    border-radius:0px 10px 10px 0px;

    
  }

  .slick-next.slick-arrow {
    background: #e2534b;
    padding : 30px;

  }

  .slick-prev.slick-arrow:hover{
    background: #e2534b;
    padding : 30px;
  }

  .slick-next.slick-arrow:hover {
    background: #e2534b;
    padding : 30px;

  }

  .slick-prev.slick-arrow:focus{
    background: #e2534b;
    padding : 30px;
    outline:none;
  }

  .slick-next.slick-arrow:focus {
    background: #e2534b;
    padding : 30px;
    outline:none;

  }

  
  .slick-prev::before{
	font-size: 30px !important;
	display: block;
	margin:-15px 0px 0px -13px;
}


 .slick-next::before {
	font-size: 30px !important;
	display: block;
	margin: -17px 0px 0px -9px;
}

.slider-title{
    z-index: 1;
    text-align: center;
    /* margin-top:100px; */
    font-size:50px; 
    text-transform: uppercase;
    font-weight: 700;
    color:#fff;
    background:#e2534b;
    width: 50%;
    margin:140px auto;
    border-radius: 5px;
}

.slider-taglines{
    background : #333;
    text-align: center;
    width: 30%;
    margin:auto;
    margin-top:-130px;
    padding :30px;
    color:#fff;
    border-radius: 5px;
}
/* slider design end */



/* service title panel start  */
.service-panel-content{
    background : #ececec;
    padding :20px 20px 10px 20px;
    border-radius: 10px;
}

.panel-content h3{
    font-weight: 700;    
}
.service-panel-view-button{
    background: #e2534b;
    padding : 10px 20px;
    color : #fff !important;
    text-decoration: none !important;
    border-radius: 5px;
    margin-top:20px;
    display: block;
    width: 90%;
    text-align: center;

}


/* service title panel end  */


/* service section start  */
.service-section{
    padding: 50px 0px;
    text-align: center;
}

.service-content{
    padding:50px 20px;
    border-radius:10px;
    transition: .5s;
    height:350px;
    width:100%;
    position: relative;
    margin-bottom:60px;
}


.service-content i{
    font-size:40px;
}

.service-read-more-btn{
    background:#62bdbd;
    padding:20px 40px;
    /* margin-top:-10px !important; */
    display:block;
    text-decoration: none !important;
    color:#ffffff;
    border-radius: 10px;
    width:85%;
    margin:5px auto;
    transition:0.5s;
    position: absolute;
    bottom:-40px;
}


.service-title{
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color: #7f8c8c;
    padding:20px 0px 10px 0px;
}

.service-content:hover{
    background : #ffffff;
    color:#e2534b;
    
}


.service-content:hover .service-read-more-btn{
    background:#e2534b;
    color: #fff;
}
/* service section end */


/* promotional area design start  */

.promotional-section{
    padding : 50px 0px;
}
.promotional-title{
    text-align: center;
}

.promotional-title h1{
    font-weight: 700;
    color:#e2534b;
}

.promotional-title p{
    display:inline;
    /* margin-top:-100px; */
}

.promotional-image img{
    margin:40px 0px;
}


.side-promotion-bar h3{
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
    color:#777777;
}

.side-promotion-bar ul{
    padding:0px;
}

.side-promotion-bar ul li{
    list-style:none;
}

.side-promotion-bar ul li a{
    font-size: 13px;
    text-decoration: none;
    color:#777777;
}

.side-promotion-bar ul li a i{
    color:#e2534b; 
}

.side-promotion-bar p{
    background : #ffffff;
    padding:10px;
    margin:15px 0px;
    font-style:italic;
}


.middle-part p{
    text-align: center;
}


/* promotional area design end  */


/*# sourceMappingURL=style.css.map */
