/* *** navigation and header design start *** */

.top-header{
    background:#232425;
    height: 150px;
}

.top-header .logo{
    padding:50px;
    text-align:center;
}

.menu ul{
    text-align: center;
}

.menu ul li{
    list-style:none;
    display: inline;
    

}

.menu ul li a{
    text-decoration: none;
    /* padding:40px; */
    display: inline-block;
    margin-top:0px;
    padding: 63px 10px;
    color:#fff;
    transition: 0.5s;

    
}

.menu ul li a:hover{
    background:#db273c;
    color:#fff;

}
/* *** navigation and header design end *** */

/* *** slider design/ hero area design start *** */


.hero-area{
    background: #403c3c;
    padding :40px;
}

.slider-content{
    color : #fff;
}

.slider-content h1{
    font-size: 60px;
    text-transform: uppercase;
}


.slider-content a{
    padding: 10px 30px;
    color:#fff;
    background:#db273c;
    text-decoration: none;
    border-radius: 10px;
    margin-top:20px;
    display: block;
    width: 40%;
    text-align: center;
    transition:0.5s;
}


.slider-content a:hover{
    background:#9e1d2c;
}

.slider-image{
    text-align:center;
}

/* *** slider design/ hero area design end *** */


/* *** post area content start *** */
.post-content{
    text-align:center;
    padding:40px;
} 


.title{
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    color:#db273c;
}

.title p span{
    color:#333;
}

.image img{
    width:100%;
    padding:10px;
}

.more-button{
    padding: 10px 30px;
    color:#fff;
    background:#db273c;
    text-decoration: none !important;
    border-radius: 10px;
    margin-top:20px;
    display: block;
    width: 60%;
    text-align: center;
    transition:0.5s;
    margin:2px auto;
    
}

.more-button:hover{
    background:#9e1d2c;   
    color:#fff;
}

/* *** post area conent end *** */



/* *** second section conent start *** */

.second-section{
    padding:40px;
    text-align: center;
}

.second{
    margin-top:60px;
}
 
.content{
    margin-top:67px;
    text-align: left;
}

.extra-design{
    margin-left:0px;
}


/* *** second section conent end *** */




/* *** footer widget design conent start *** */
.footer-widget{
    padding:40px;
    background:#ecedee;
}

.widget-one .widget-title p, .widget-two .widget-title p, .widget-three .widget-title p, .widget-four .widget-title p{ 
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}

.widget-content p {
    padding-top:20px

}

.widget-image img{
    width:100%;
}

.widget-read-more-btn{
    display:block;
    text-align: left;
    width: 30%;
    margin-right:auto;
    text-decoration: none !important;
    color:#db273c;

}


.widget-read-more-btn:hover{
    color:#db273c;
}



.links ul{
    padding:0px;
}

.links ul li{
    /* display:block; */
    list-style:none;
    padding: 0px 0px 25px 0px;
    /* border-bottom: 1px solid #aba8a7; */
}

.links ul li a{
    color:#db273c;
    text-decoration: none;
    text-align: right;

}

.widget-post .widget-single-post .wid-post-title{
    color:#db273c;
    font-size: 25px;
}

.widget-post .widget-single-post .wid-post-read-btn{
    display:block;
    text-align: right;
    padding-top:20px;
    width: 60%;
    margin-left:auto;
    text-decoration: none !important;
    color:#db273c;
}


.widget-post .widget-single-post .post-date{
    margin-top:-8px;
    display: block;
}

.widget-post .widget-single-post .wid-post-content{
    padding-top:20px;
}

.contact-form input[type = 'text']{
    margin-top:10px;
    width:100%;
    background: #333;
    padding :10px 10px;
    border:none;
    border-radius:5px;
    color:#fff;

}

.contact-form input[type = 'email']{
    margin-top:10px;
    width:100%;
    background: #333;
    padding :10px 10px;
    border:none;
    border-radius:5px;
    color:#fff;

}

.contact-form input:focus{
    outline : none;
}

.contact-form textarea{
    margin-top:10px;
    width:100%;
    background: #333;
    padding :5px 10px;
    border:none;
    border-radius:5px;
    height:180px;
    color:#fff;

}

.contact-form textarea:focus{
    outline : none;
}

.contact-form input[type = 'submit']{
    margin-top:10px;
    padding: 10px 0px;
    color:#fff;
    background:#db273c;
    text-decoration: none !important;
    border-radius: 10px;
    display: block;
    width: 30%;
    text-align: center;
    transition:0.5s;
    border:transparent;
    
}

::placeholder{
    color :#fff;

}



/* *** footer widget design conent end *** */



/* *** footer design conent start *** */

footer{
    padding:20px 20px 0px 20px;
    background: #333;
}


.first-segment{
    color : #fff;
}

.second-segment{
    color :#fff;
    text-align: right;
}

.owner-link{
    color: #db273c;
    text-decoration: none !important;
}

.owner-link:hover{
    color : #db273c;
}



/* *** footer design conent end *** */


/*# sourceMappingURL=style.css.map */
